body {
  font-family: "Josefin Sans", cursive;
  background: linear-gradient(
    135deg,
    rgb(255, 168, 168) 10%,
    rgb(252, 255, 0) 100%
  );
  color: #e46161;
}

.container {
  margin: 120px auto;
  max-width: 600px;
}

header {
  margin-bottom: 30px;
}

h1.title {
  font-size: 30px;
  line-height: 1.5;
  font-weight: 800;
  text-align: center;
}

.form-container {
  background-color: #f8f398;
  border-radius: 10px;
  padding: 30px;
  margin-bottom: 30px;
}

form {
  display: flex;
}

.instructions {
  padding: 16px;
  border: 1px solid #cbf078;
  width: 80%;
  font-size: 16px;
  border-radius: 50px;
  line-height: 20px;
}

.submit-button {
  margin-left: 5px;
  background-color: rgb(255, 255, 255);
  width: 150px;
  font-size: 16px;
  border-radius: 50px;
  border: 1px solid #cbf078;
  padding: 14px 24px;
}

.hint {
  line-height: 1.5;
  font-size: 12px;
  margin-top: 5px;

  color: #f1b963;
}

.poem {
  font-size: 16px;
  background-color: #f8f398;
  padding: 20px;
  line-height: 24px;
  border-left: 3px solid rgb(245, 213, 125);
  box-shadow: 8px 20px 60px;
  border-radius: 10px;
  margin-bottom: 30px;
}

.hidden {
  display: none;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.generating {
  animation: blink 1s step-start 0s infinite;
}

footer {
  font-family: monospace;
  text-align: center;
}

@media (max-width: 900px) {
  .container {
    max-width: 400px;
  }
  h1.title {
    font-size: 20px;
  }

  footer {
    font-size: 10px;
  }

  .instructions,
  .poem {
    font-size: 12px;
    padding: 12px;
  }

  .hint {
    font-size: 10px;
  }

  .submit-button {
    font-size: 12px;
  }
}
